<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>

  <md-content>
  <form ng-submit="registerUser()">

  <!-- Captures Info into MemberSchema -->
    <md-input-container>
        <label for="username">Phone Number:</label>
        <input type="text" ng-model="user.username" />
    </md-input-container>

    <md-input-container>
        <label for="password">Password:</label>
        <input type="password" ng-model="user.password" />
    </md-input-container>


  <!-- Captures Info into RegistrationSchema -->
    <md-input-container>
        <label for="state">State:</label>
        <md-select ng-model="user.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label for="county">County:</label>
        <input type="text" ng-model="user.county" />
    </md-input-container>

    <md-input-container>
        <label for="gender">Gender:</label>
        <md-select ng-model="user.gender">
            <md-option ng-repeat="gender in genders" value="{{gender.gender}}">
              {{gender.gender}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label for="birthYear">Birth Year:</label>
        <input type="text" ng-model="user.birthYear" />
    </md-input-container>

    <md-input-container>
        <label for="drugChoice">Drugs of Choice:</label>
        <md-select ng-model="user.drugChoice">
            <md-option ng-repeat="drug in drugs" value="{{drug.drug}}">
              {{drug.drug}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label for="sobrietyDate">Sobriety Date:</label>
        <md-datepicker md-hide-icons="calendar" md-open-on-focus ng-model="user.sobrietyDate"></md-datepicker>
    </md-input-container>

    <md-input-container>
        <label for="programPayment">How did you pay for your treatment services?</label>
        <md-select ng-model="user.programPayment">
            <md-option ng-repeat="payment in payments" value="{{payment.payment}}">
              {{payment.payment}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label for="medication">Are you currently taking prescription medication?</label>
        <input type="text" ng-model="user.medication" />
    </md-input-container>

    <md-input-container>
        <md-checkbox ng-model="user.termsAgreement" required>I agree to the <a ng-href='#/terms'>Terms of Use</a></md-checkbox>
    </md-input-container>

    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#login">Cancel</a>

  </form>
  </md-content>

</div>

<footer class='navMenu' ng-include="'/views/partials/blankNav.html'"></footer>
