<div class = 'wrapper'>
  <p>This is Check In 1 view</p>
  <p>How are you feeling today?</p>

  <form name = 'feelingsForm'>
    <div>
      <label>Angry</label>
      <select>
        <option value = '' disabled selected> --- </option>
        <option value= 'True'>True</option>
        <option value= 'False'>False</option>
      </select>
    </div>
    <!-- ends angry -->

    <div>
      <label>Anxious</label>
      <select>
        <option value = '' disabled selected> --- </option>
        <option value= 'True'>True</option>
        <option value= 'False'>False</option>
      </select>
    </div>
    <!-- end anxious -->

  <br>
  <button ng-click = 'nextButton()'>Next</button>
  </form>
  <!-- ends feelingsForm -->
</div>
<!-- ends wrapper -->


<!-- <form name='newPlaceForm'>

    <div flex-sm>
        <md-input-container class='md-block' flex-gt-xs>
            <label>Name of Place</label>
            <input ng-model='location.name'>
        </md-input-container>
    </div>

      <div layout='row'>
          <md-input-container flex="35">
              <label>Date Added</label>
              <md-datepicker class='md-primary md-hue-3' md-hide-icons="calendar" md-open-on-focus ng-model='location.dateAdded'></md-datepicker>
            </md-input-container>

          <md-input-container flex="65">
              <label>Type</label>
              <md-select ng-model='location.type'>
                  <md-option ng-repeat='type in types' value='{{type.type}}'>
                      {{type.type}}
                    </md-option>
              </md-select>
          </md-input-container>
      </div>

    <div layout-gt-xs='row'>
        <md-input-container class='md-block' flex-gt-xs>
            <label>Address</label>
            <input ng-model='location.address'>
        </md-input-container>
    </div>

    <div layout-gt-xs='row'>
        <md-input-container class='md-block' flex-gt-xs>
            <label>City</label>
            <input ng-model='location.city'>
        </md-input-container>
    </div>

    <div layout='row'>
        <md-input-container flex='50'>
            <label>State</label>
            <md-select ng-model='location.state'>
                <md-option ng-repeat='state in states' value='{{state.abbrev}}'>
                    {{state.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex='50'>
            <label>Zip Code</label>
            <input ng-model='location.zipcode'>
        </md-input-container>
    </div>

    <div layout-gt-xs='row'>
        <md-input-container class='md-block' flex-gt-xs>
            <label>Website</label>
            <input ng-model='location.website'>
        </md-input-container>
    </div>

    <div layout-gt-xs='row'>
        <md-input-container class='md-block' flex-gt-xs>
            <label>Recommender</label>
            <input ng-model='location.recommender'>
        </md-input-container>

        <md-input-container class='md-block' flex-gt-xs>
            <label>Recommendations</label>
            <input ng-model='location.recNotes'>
        </md-input-container>
    </div>

    <div layout="row" layout-align="end center">
        <md-button class='md-raised md-primary md-hue-1' href='#/tovisit'>Cancel</md-button>
        <md-button class='md-raised md-primary md-hue-3' ng-click='addNewPlace(location)' href='#/tovisit'>Add New Event</md-button>
    </div>

</form> -->
