<div class = 'wrapper'>

  <p>If available today, would you connect to an online peer support group to engage with others in recovery?</p>
  <md-switch class = 'md-primary' ng-model="reflectionObject.peerSupport">
    Switch 1: {{ reflectionObject.peerSupport }}
  </md-switch>

  <p>If available today, would you connect to an online peer support group to engage with others in recovery?</p>
  <md-switch ng-model="reflectionObject.counselor">
    Switch 1: {{ reflectionObject.counselor }}
  </md-switch>

  {{ reflectionObject }}
  <br>
  <md-button ng-click = 'reflectionFormNextButton(reflectionObject)'>Next</md-button>
</div>
<!-- ends wrapper -->
