
<div class = 'wrapper'>
  <p>Have you taken your medication today?</p>
  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch class = 'md-primary' ng-model="reflectionObject.medication" aria-label='Taken medication today?'>
      <!-- Switch 1: {{ reflectionObject.medication }} -->
    </md-switch>
    <span>Yes</span>
  </div>



  <!-- {{ reflectionObject }} -->
  <br>
  <md-button class = 'md-raised' ng-click = 'reflectionFormNextButton(reflectionObject)'>Next</md-button>
</div>
<!-- ends wrapper -->
